@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* The design is dark first and the naming convention was made with this in mind.
    For example you should use --color-white for text, since we are in dark mode.
    Switching to light mode you should still keep --color-white for text. This is because
    we mapped how each color should transform during a theme change, so you just need to
    write your css once. */
  .dark-theme {
    /* Application background */
    --color-background: 0 0 0;
    /* Components background */
    --color-background-light: 43 47 54;
    /* Brighter background (e.g. selected components) */
    --color-background-bright: 63 67 74;
    /* Dark background (navbar) */
    --color-background-dark: 22 22 24;

    /* Primary color (e.g. buttons, selections) */
    --color-primary: 54 148 242;
    /* Lighter primary color (e.g. hover primary color) */
    --color-primary-light: 192 38 107;
    /* Darker primary color (e.g. click primary color) */
    --color-primary-shadow: 143 22 76;

    /* Secondary color */
    --color-secondary: 17 17 17;

    /* Main font */
    --color-white: 230 230 230;
    /* Secondary font or unselected items */
    --color-light: 179 179 179;
    /* Shadows */
    --color-black: 26 26 26;

    --color-green: 0 146 69;
    --color-red: 193 39 45;
  }

  .light-theme {
    /* Application background */
    --color-background: 206 196 220;
    /* Components background */
    --color-background-light: 184 163 213;
    /* Brighter background (e.g. selected components) */
    --color-background-bright: 169 143 206;
    /* Dark background (navbar) */
    --color-background-dark: 219 216 223;

    /* Primary color (e.g. buttons, selections) */
    --color-primary: 168 58 108;
    /* Lighter primary color (e.g. hover primary color) */
    --color-primary-light: 108 38 88;
    /* Darker primary color (e.g. click primary color) */
    --color-primary-shadow: 193 78 128;

    /* Secondary color */
    --color-secondary: 168 78 54;

    /* Main font */
    --color-white: 20 20 20;
    /* Secondary font or unselected items */
    --color-light: 65 65 65;
    /* Shadows */
    --color-black: 230 230 230;

    --color-green: 0 146 69;
    --color-red: 193 39 45;
  }

  /* Colors that remain the same, regardless of the theme.
  (e.g. button text should be static white) */
  .static-colors {
    --color-static-white: 230 230 230;
  }

  #root {
    overflow: hidden;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    scroll-behavior: smooth;
  }

  body {
    box-sizing: border-box;
    background-color: var(--color-background);
    color: var(--color-white);
    font-family: inter;
  }
}

@layer utilities {
  /* CSS variables cannot be referenced here */

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
